
<div class="form-login">
    <h1>Nuevo Paciente</h1>
  
    <form [formGroup]="PatientForm" (ngSubmit)="PatientForm.valid && onSubmit()" #formLogin="ngForm" novalidate>

        <input type="text" placeholder="Nombre:" id="name" name="name" formControlName="name">
        <div class="invalid-feedback" *ngIf="PatientForm.get('name')?.invalid && formLogin.submitted">El campo es requerido</div>

        <input type="text" placeholder="dni:" id="dni" name="dni" formControlName="dni">
        <div class="invalid-feedback" *ngIf="PatientForm.get('dni')?.invalid && formLogin.submitted">El campo es requerido</div>

        <input type="email" placeholder="Correo:" id="email" name="email" formControlName="email">
        <div class="invalid-feedback" *ngIf="PatientForm.get('email')?.invalid && formLogin.submitted">El campo es requerido</div>

        <button type="submit" class="btn-login" [disabled]="PatientForm.invalid && PatientForm.dirty">
            crear
        </button>
    </form>

    <div *ngIf="errorStatus" class="invalid-feedback">
        {{ errorMsg }}
    </div> 
</div>